
<form [formGroup]="formEnvios" class="container bg-light my-5 p-3" >
  <div class="row">
    <div class="col-12">
      <h2>Formulario de Envíos Internacional</h2>
    </div>
    <hr>
    <div class="col-4">
      <div class="alert alert-danger d-flex" role="alert" id="errFecha" *ngIf="formEnvios.get('fecha')?.hasError('require') || formEnvios.get('fecha')?.hasError('fecha')">
        Ingrese una fecha valida
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="fechaInp" placeholder="dd-mm-yyyy" formControlName = "fecha">
        <label >Fecha</label>
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-danger d-flex" role="alert" id="errEmpre" *ngIf="formEnvios.get('empresa')?.hasError('require') || formEnvios.get('empresa')?.hasError('minlength')|| formEnvios.get('empresa')?.hasError('maxLength')">
        Ingresar la Empresa es Obligatorio
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="empresaInp" placeholder="Example S.A" formControlName="empresa">
        <label>Empresa</label>
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-danger d-flex" role="alert" id="errEmail"  *ngIf="formEnvios.get('email')?.hasError('require') || formEnvios.get('email')?.hasError('email')">
        El Email es invalido
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="emailInp" placeholder="example@example.com" formControlName = "email">
        <label >Email</label>
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-danger d-flex" role="alert" id="errInsta" *ngIf="formEnvios.get('instagram')?.hasError('require') || formEnvios.get('instagram')?.hasError('ig') || formEnvios.get('instagram')?.hasError('minlength')">
        La cuenta de IG no es valida
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="instaInp" placeholder="@example.ig" formControlName="instagram">
        <label >Instagram</label>
      </div>
    </div>
    <div class="col-2 py-2 px-5">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="clienteInp" formControlName="cliente" (click)="habilitarOrigen()">
        <label class="form-check-label" for="clienteInp">
          Cliente
        </label>
      </div>
    </div>
    <div class="col-2">
      <div class="alert alert-danger d-flex" role="alert"*ngIf="formEnvios.get('origen')?.hasError('origen')">
        Debe Seleccionar un Origen
      </div>
      <select class="form-select" aria-label="Default select example" id="origenSelect" formControlName="origen" [disabled]="true">
        <option [selected]="true" value="0">Seleccione Origen</option>
        <option value="prensa">Prensa</option>
        <option value="redes">Redes</option>
        <option value="amigos">Amigos</option>
      </select>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4 p-2">
      <div class="alert alert-danger mb-4 d-flex" role="alert" id="errDestina" *ngIf="formEnvios.get('proviene')?.hasError('require')">
        Elija una opcion
      </div>
      <div class="form-check">
        <input class="form-check-input" (change)="habilitarPais()" type="radio" name="proviene" id="flexRadioDefault1" formControlName="proviene">
        <label class="form-check-label" for="flexRadioDefault1">
          Nacional
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" (change)="habilitarPais()" name="proviene" id="flexRadioDefault2" formControlName="proviene">
        <label class="form-check-label" for="flexRadioDefault2">
          Extranjero
        </label>
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-danger d-flex" role="alert" id="errPais" *ngIf="formEnvios.get('pais')?.hasError('pais')">
        Debe ingresar su Pais
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" [disabled]="true" id="paisInp" placeholder="Example" formControlName="pais">
        <label>Pais</label>
      </div>
    </div>
  </div>
  <hr>
  </form>
<form [formGroup]="formOrder" class="container bg-light my-5 p-3"  (submit)="hacerPedido()">
  <div class="row">
    <div class="col-12">
      <h2>ENVÍOS</h2>
    </div>

    <div class="col-2">
      <div class="form-floating">
        <select class="form-select" id="destinoSelect" aria-label="Elija el destino" formControlName="paisEnvio" (change)="setPecio()">
          <option value="España" [selected]="true">España</option>
          <option value="Europa">Europa</option>
          <option value="America">America</option>
        </select>
        <label>Destino</label>
      </div>
    </div>
    <div class="col-3">
      <div class="alert alert-danger d-flex" role="alert" id="errPeso" *ngIf="formOrder.get('peso')?.hasError('peso')">
        Ingrese un peso valido - NN,NN
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="pesoInp" placeholder="0.0" formControlName="peso" (blur)="setPecio()">
        <label>Peso</label>
      </div>
    </div>
    <div class="col-2">
      <div class="alert alert-danger d-flex" role="alert" *ngIf="formOrder.get('tipoEnvio')?.hasError('tipoEnvio')">
        Envio Invalido
      </div>
      <div class="alert alert-danger d-flex" role="alert" id="errTipoEnvio" *ngIf="formOrder.get('tipoEnvio')?.hasError('require') || formOrder.get('tipoEnvio')?.hasError('tipoEnvio')">
        Elija tipo de envio
      </div>
      <div class="form-floating">
        <select class="form-select" id="tipoEnvio" aria-label="Elija el tipo envio" formControlName="tipoEnvio">
          <option selected>-</option>>
          <option value="Paquete">Paquete</option>
          <option value="Certificado">Certificado</option>
        </select>
        <label >Tipo de Envio</label>
      </div>
    </div>
    <div class="col-3">
      <div class="input-group mb-3 py-2">
        <span class="input-group-text">€</span>
        <input type="text" class="form-control me-2" id="precioInp" formControlName="precio" >
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-warning mx-4 my-2" (click)="anadirEnvio()">Añadir Pedido</button>
    </div>
    <div class="col-12 mx-3">
      <table class="table table-light table-striped text-center" id="tabEnvios">
        <thead>
        <tr>
          <th scope="col">Destino</th>
          <th scope="col">Peso</th>
          <th scope="col">Tipo de Envio</th>
          <th scope="col">Precio</th>
          <th scope="col">Accion</th>
        </tr>
        </thead>
        <tbody id="body">
          <tr *ngFor="let pedido of pedidos; let i = index">
            <td>{{pedido.destino}}</td>
            <td>{{pedido.peso}}</td>
            <td>{{pedido.tipoEnvio}}</td>
            <td>{{pedido.precio}}</td>
            <td><button type="button" class="btn btn-danger" (click)="eliminarEnvio(i)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="totalEnvio" formControlName="numEnvios">
        <label>Numero de Envios</label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="totalPeso" formControlName="totalPeso" >
        <label >Total Peso (KG)</label>
      </div>
    </div>
    <div class="col-2">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="totalImporteES" formControlName="totalImpES">
        <label>Total Importe España</label>
      </div>
    </div>
    <div class="col-2">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="totalImporteEU" formControlName="totalImpEU">
        <label>Total Importe Europa</label>
      </div>
    </div>
    <div class="col-2">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="totalImporteAM" formControlName="totalImpAM" >
        <label>Total Importe America</label>
      </div>
    </div>
    <div class="col-3">
      <div class="col-2">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="totalImporte" formControlName="totalImp">
          <label>Importe Total</label>
        </div>
      </div>
    </div>
    <div class="col-9">

    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-success">Enviar</button>
    </div>
  </div>
</form>
<div class="container bg-light m-4 m-auto p-3" [style.display]="validado ? 'block' : 'none'">
  <hr>
  <h2>Datos del ultimo Envio</h2>
  <hr>
  <div id="contenidoEnvio">
    <p>Fecha: {{envio.fecha}}</p>
    <p>Empresa: {{envio.empresa}}</p>
    <p>Email: {{envio.email}}</p>
    <p>Num. Envios: {{envio.numEnvios}}</p>
    <p>Total Peso: {{envio.totalPeso}}</p>
    <p>Total Importe ES: {{envio.totalImpES}}</p>
    <p>Total Importe EU: {{envio.totalImpEU}}</p>
    <p>Total Importe AM: {{envio.totalImpAM}}</p>
    <p>Total Importe: {{envio.totalImp}}</p>

    <ul>
      <li *ngFor="let pedido of envio.pedidos; let i = index">
        Paquete numero {{i+1}}
        <ul>
          <li>{{pedido.destino}}</li>
          <li>{{pedido.peso}}</li>
          <li>{{pedido.precio}}</li>
          <li>{{pedido.tipoEnvio}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

